@tailwind base;
@tailwind components;
@tailwind utilities;
@media print {
  button,
  header,
  aside {
    display: none !important;
  }

  body {
    background: white;
    color: black;
  }

  table {
    border-collapse: collapse !important;
    width: 100%;
  }

  th, td {
    border: 1px solid #ccc !important;
    padding: 6px !important;
    text-align: left;
  }
}